.dashboard-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  
  .overview {
    display: flex;
    gap: 20px;
  }
  
  .card {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
  }

  .card p{
    margin: 5px;
    font-size: 15px;
    font-weight: 500;
  }
  
  /* .card img{
    transform: translate(-210%,-100%);
  } */
  .analytics {
    display: flex;
    gap: 20px;
  }
  
  .chart {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* width: 40%; */
  }

  .chart p{
    margin: 10px;
    font-size: 22px;
    font-weight: 600;
  }
  
  .recent-transactions ul,
  .activities ul {
    list-style-type: none;
    padding: 0;
    gap: 2px;
  }
  
  .recent-transactions ul li,
  .activities ul li {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
    /* border-bottom: 1px solid #eee; */
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    margin: 10px;
  }
  
  .activities {
    display: flex;
    gap: 20px;
  }
  
  .individual-activities,
  .group-activities {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recent-transactions {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .recent-transactions h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
  }
  
  .recent-transactions ul {
    list-style: none;
    padding: 0;
  }
  
  .recent-transactions li {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }
  
  .recent-transactions li:last-child {
    border-bottom: none;
  }
  
  .recent-transactions span {
    font-size: 14px;
    color: #555;
  }
  
  .transaction-amount.income {
    color: #28a745; /* Green for income */
    font-weight: bold;
  }
  
  .transaction-amount.expense {
    color: #dc3545; /* Red for expense */
    font-weight: bold;
  }
  
  