
.expense-income-page {
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  }
  
   .form-section {
    flex: 1;

  } 
  
   .recent-expenses-section {
    flex: 1;
    max-width: 500px;
  } 
  
  