
.expense-income-page {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
    background-image: url('../assets/expens.png'); /* Replace with your image path */
  background-size: contain; /* Make the image cover the entire container */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent tiling */
  height: 100%;
  width: 100%;
  overflow: hidden;

  }
  
  .form-section {
    flex: 1;
    /* max-width: 480px; */
  }
  
  .recent-expenses-section {
    flex: 1;
    max-width: 500px;
  }
  
  