.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../assets/forgotimg.png');
    background-size: cover;
    /* background-position: center;  */
    background-repeat: no-repeat;
    width: 100%;
    font-family: 'Poppins', sans-serif;
  }

  .forgot-password-card {
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .forgot-title {
    font-size: 2rem;
    font-weight: bold;
    color: #343a40;
    margin-bottom: 1rem;
  }
  
  .forgot-subtitle {
    font-size: 1rem;
    color: #6c757d;
    margin-bottom: 1.5rem;
  }
  
  .email-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    background: rgba(163,60,235,0.09);
    /* background: #A33ceb; */
  }
  
  .email-input:focus {
    border-color: #6f42c1;
    box-shadow: 0 0 3px rgba(111, 66, 193, 0.5);
  }
  
  .send-email-button {
    background: #b968e7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
  }
  
  .send-email-button:hover {
    background: #b968e7
  }

  @media (max-width: 768px) {
    .forgot-title {
      font-size: 1.75rem; 
    }
  
    .forgot-subtitle {
      font-size: 0.9rem; 
    }
  
    .email-input {
      font-size: 0.9rem; 
    }
  
    .send-email-button {
      padding: 8px 16px; 
      font-size: 0.9rem;
    }

  }
  