.transactions {
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 20px;
}

.transactions h2 {
    margin-bottom: 20px;
}

.transactions ul {
    list-style-type: none;
    padding: 0;
}

.transaction {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.transaction:last-child {
    border-bottom: none;
}
